/* Distribution */
/* For desktop: */
.col-1 {width: 8.33%;}
.col-2 {width: 16.66%;}
.col-3 {width: 25%;}
.col-4 {width: 33.33%;}
.col-5 {width: 41.66%;}
.col-6 {width: 50%;}
.col-7 {width: 58.33%;}
.col-8 {width: 66.66%;}
.col-9 {width: 75%;}
.col-10 {width: 83.33%;}
.col-11 {width: 91.66%;}
.col-12 {width: 100%;}

@media only screen and (max-width: 768px) {
    /* For mobile phones: */
    [class*="col-"] {
        width: 100%;
    }
}

/* Colors */
:root{
--general-bg-color: #E4F0FF;
--header-bg-color:  #0D417F;
--person-bg-color:  #B6C0CC;
--strong-light-blue:#97C6FF;
--dark-gray:        #72787F;
}


/* Style */
header{
    width: 100%;
    height: 100px;
    background-color:var(--header-bg-color);
    color: #D3E4FF;
    text-align: center;
}
header h1{
    padding: 10px;
    font-family: 'Spirax', cursive;
    color:white;
}
.logos img{
    margin:10px;
    height: 80px;
    float: left;
}
body{
    background-color:var(--general-bg-color);
}
main{
    text-align: center;
}
article{
    text-align: center;
    display: inline;
}
.person{
    padding:10px;
    margin:10px;
    float: left;
    background-color: var(--person-bg-color);
    text-align: center;
    overflow: unset;

}
.person img{
    width: 250px;
    height: 250px;
    border-radius: 100%;
}