<div class="layout-container">
    <header role="banner">
        {{ page.header }}
    </header>
    {{ page.highlighted }}
        <main role="main">
            <a id="main-content" tabindex="-1"></a>
            {# link is in html.html.twig #}
            {{ page.content }}
        </main>
</div>
{# /.layout-container #}